/* Base style */
body {
  margin: 0;
  font-family: "Noto Sans";
}

h1, h2 {
  font-weight: 250;
  color: #2e3440;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 24pt;
}

p {
  font-weight: 300;
  line-height: 2em;
  color: #2e3440;
}

a {
  font-weight: 300;
  line-height: 2em;
  color: #5e81ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Styling of navbar */
nav {
  background: #5e81ac;
}

nav > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

nav a#logo {
  height: 60px;
  transition: 0.2s;
}

nav a#logo img {
  height: 40px;
  margin: 10px 16px;
}

nav .filler {
  flex-grow: 1;
}

nav .menu-item {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 16px;
  color: white;
  text-transform: uppercase;
  font-size: .80em;
  font-weight: 400;
  transition: 0.2s;
}

nav a.menu-item:hover, nav a#logo:hover {
  text-decoration: none;
  background: #5678a0;
}

nav #curtain-button {
  font-size: 1.2em;
}

/* Styling of curtain menu */
#curtain-nav {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  box-shadow: 0 0 10px 0 #6c7b99;
  border-right: 1px solid #d8dee9;
  display: none;
}

#curtain-nav a {
  display: block;
  color: #2e3440;
  text-transform: uppercase;
  font-size: .80em;
  font-weight: 400;
  text-align: center;
  padding: 16px 0;
  transition: 0.2s;
}

#curtain-nav a.active, #curtain-nav a:hover {
  text-decoration: none;
  background: #eceff4;
  color: #5e81ac;
}

/* Styling of main area */
main {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  padding: 0;
}

table td, table th {
  padding: 16px 8px;
  border-bottom: 1px solid #d8dee9;
  margin: 0;
}

table th.active {
  border-bottom: 1px solid #4c566a;
}

table td {
  color: #2e3440;
  font-weight: 300;
}

table th {
  color: #788296;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: left;
}

/* Styling of tabs element */
.tabs {
  display: flex;
  flex-direction: row;
}

.tabs a {
  margin: 0;
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid #d8dee9;
  color: #2e3440;
  transition: 0.2s;
}

.tabs a:hover, .tabs a.active {
  text-decoration: none;
  color: #5e81ac;
  border-bottom: 1px solid #5e81ac;
}

.tabs .filler {
  flex-grow: 1;
  border-bottom: 1px solid #d8dee9;
}

/* Match card styling */
.match-card {
  border: 1px solid #e5e9f0;
  margin: 15px 0;
}

.match-card p {
  margin: 0;
  padding: 0;
  /* border: 1px dashed green; */
  display: block;
}

.match-card-header {
  border-bottom: 1px solid #e5e9f0;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
}

.match-card-body {
  padding: 10px 16px;
}

.match-card-header .match-card-category {
  flex-grow: 1;
}

.match-card-body > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.match-card .winner .match-card-name {
  font-weight: 400;
}

.match-card .winner .match-card-score {
  font-weight: 400;
}

.match-card-score {
  text-transform: uppercase;
}

.match-card-club {
  color: #788296;
  font-size: .9em;
}

.match-card-score, .match-card-time {
  flex-basis: 100px;
}

.match-card-player {
  display: block;
  flex-grow: 1;
}

.match-card .golden-score, .match-card .osaekomi, .match-card .bye {
  font-size: .8em;
  color: #788296;
  text-transform: uppercase;
}

