$color1: #2e3440; // Used for text
$color2: #d8dee9; // Used for borders
$color3: #434c5e; // Used for highlighted borders
$color4: #788296; // Used for 'secondary' text
$color5: #5e81ac; // Used for links, highlights and navbar background
$color6: #e5e9f0; // Used for lighter colored borders

